body {
    font-size: 50px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #000000;
    margin: 0px 15px;
    font-size: 14px;
}

.navbar .navbar-nav .nav-item #bedaSendiri {
    color: blue;
    margin: 0px 15px;
}

section .title {
    text-align: center;
}

section .img-hero {
    width: 900px;
}