*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header
{
    width: 100%;
    height: 80px;
}
.left{
    display: flex;
    justify-content: space-around;
    padding-top: 43px;
    padding-left: 70px;
}
.left ul{
    display: flex;
}
ul li{
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .none {
    list-style-image: none;
    position: fixed;
    border:solid;
	border-color:#03A9F4;
	border-width:2px;
	border-radius:10px;
	height:200px;
	width:auto;
	overflow:hidden;
    align-items: flex-start;
}

p {
    align-content: center;
}
/* SLice 1 */
slice1 {
    display: flex;
    justify-content: space-around;
    text-align: left;
    white-space: pre-line;
    font-family: Shippori Antique;  
    font-style:normal;
    font-size: 14px;
    line-height: 15px;
}

.photo {
    position: absolute;
    width: 512.81px;
    height: 386.59px;
    left: 683px;
    top: 149px;
}
#slice1 {
    padding-top: 200px;
    padding-left: 180Px;
    padding-right: 300px;
    list-style: 5px;
    margin-right: 100px;

}
#slice1 img {
    padding-top: 280px;
    padding-left: 180Px;
    padding-right: 300px;
    list-style: none;
    margin-right: 100px;
}
#photo-contact {
    padding-top: 149px;
    padding right: 170px;
}

/* slice 2 */
.photo2 {
    position: absolute;
    width: 693px;
    height: 598px;
    left: 63px;
    top: 653px;
}
#slice2 P {
    text-align: right;
}

#slice2 {
    align-content: center;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}
#slice2 {
    padding-top: 816px;
    padding left: 902px;
    list-style: none;
}
#slice2 .p {
    position: absolute;
    align-content: right;
    white-space: pre-line;
    font-weight: bold;
    font-family: Shippori Antique;  
    font-style: normal;

/* slice 3 */
#slice3 h2{
    align-content: center;
}


/* Footer */