*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header
{
    width: 100%;
    height: 80px;
}
.left{
    display: flex;
    justify-content: space-around;
    padding-top: 43px;
    padding-left: 70px;
}
.left ul{
    display: flex;
}
ul li{
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .none {
    list-style-image: none;
    position: fixed;
    border:solid;
	border-color:#03A9F4;
	border-width:2px;
	border-radius:10px;
	height:200px;
	width:auto;
	overflow:hidden;
    align-items: flex-start;
}

p {
    align-content: center;
}
/* SLice 1 */
slice1 {
    display: flex;
    justify-content: space-around;
    text-align: left;
    white-space: pre-line;
    font-family: Shippori Antique;  
    font-style:normal;
    font-size: 14px;
    line-height: 15px;
}
.photo-contact {
    display: flex;
    image-resolution: 30px;
    position: absolute;
    top: 100px;
    display: contents;
    font-family: Shippori Antique;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;  
}
.photo {
    position: absolute;
    width: 512.81px;
    height: 386.59px;
    left: 683px;
    top: 149px;
}
#slice1 {
    padding-top: 280px;
    padding-left: 180Px;
    padding-right: 170px;
    
}
#photo-contact {
    padding-top: 149px;
    padding right: 170px;
}

/* slice 2 */

/* slice 3 */

/* Footer */